@import "tailwindcss";
@plugin "daisyui";


/* .container{
  padding:20em;
} */

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  font-family: Arial, Helvetica, sans-serif;
}
